---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import ProjectCard from "../components/Card.astro";
import Footer from "../components/Footer.astro";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <!-- Navigation Bar -->
  <section id="main"></section>
  <header
    style="position: sticky; top: 0; z-index: 1;  backdrop-filter: blur(20px);"
    class="shadow-2xl animate-fade animate-once animate-duration-[1500ms] animate-delay-0 animate-ease-in-out"
   
  >
    <Navigation />
  </header>

  <!-- Section - Presentation Card -->
  <section>
    <img
      class="drop-shadow-2xl animate-fade-down animate-once animate-duration-[1500ms] animate-delay-0 animate-ease-in-out"
      style="height: 400px; border-radius: 100px; padding: 20px; margin-top: 30px; display: block; margin-left: auto; margin-right: auto;"
      src="/profile-photo.JPEG"
      alt="Descripción de la foto de perfil"
      alt="Foto-Jesus-Alfonzo"
    />
    <!-- Nombre -->
    <h1
      style="font-size: 50px; font-weight: bold; text-align: center;"
      class="animate-fade-down animate-once animate-duration-[1500ms] animate-delay-[550ms] animate-ease-in-out"
    >
      Jesus Alfonzo
    </h1>

    <!-- Parrafo 1 -->
    <p
      style="font-size: 30px; font-weight: 500; text-align: center;"
      class="animate-fade-down animate-once animate-duration-[1500ms] animate-delay-[650ms] animate-ease-in-out"
    >
      Estudiante Universitario - Desarrollador Web
    </p>

    <!-- Parrafo 2 -->
    <p
      style="margin-bottom: 10px; font-size: 25px; font-weight: 400; text-align: center;"
      class="animate-fade-down animate-once animate-duration-[1500ms] animate-delay-[750ms] animate-ease-in-out"
    >
      Instituto Universitario Jesus Obrero (2023 - 2026)
    </p>

    <!-- Boton para contacto correo -->
    <div class="flex justify-center items-center" id="contact">
      <a
        class="animate-fade-down animate-once animate-duration-[1500ms] animate-delay-[850ms] animate-ease-in-out"
        href="mailto:jesusalfonzo.code@gmail.com"
        ><button
          type="button"
          style="text-align: center; margin-top:10px;"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
          ><svg
            class="text-gray-800 dark:text-white"
            style="display: block; float: left; margin-right:10px ;"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            viewBox="0 0 24 24"
          >
            <path
              d="M2.038 5.61A2.01 2.01 0 0 0 2 6v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6c0-.12-.01-.238-.03-.352l-.866.65-7.89 6.032a2 2 0 0 1-2.429 0L2.884 6.288l-.846-.677Z"
            ></path>
            <path
              d="M20.677 4.117A1.996 1.996 0 0 0 20 4H4c-.225 0-.44.037-.642.105l.758.607L12 10.742 19.9 4.7l.777-.583Z"
            ></path>
          </svg>
          Disponible para Trabajar</button
        ></a
      >
    </div>
  </section>

  <!-- Section - Biografia -->
   <section id="bio"></section>

  <section
    class="mt-20 mb-20 animate-fade-down animate-once animate-duration-[1500ms] animate-delay-[850ms] animate-ease-in-out"
  >
    <h1 style="font-size: 50px; font-weight: bold; text-align: center;">
      Biografia
    </h1>
    <p
      style="margin-bottom: 10px; font-size: 20px; font-weight: 400; width: 50%; margin-left: auto; margin-right: auto; text-align: center;"
    >
      Soy un desarrollador web frontend con residencia en la vibrante ciudad de
      Caracas, Venezuela, y actualmente curso estudios de TSU en Informática en
      el IUJO Catia. Con un año de experiencia en el desarrollo web, me he
      especializado en la creación de interfaces de usuario atractivas y
      funcionales. Mi pasión radica en transformar ideas en experiencias
      digitales interactivas, siempre buscando mantenerme actualizado con las
      últimas tendencias y tecnologías del frontend para ofrecer soluciones
      innovadoras y de alta calidad.
    </p>
  </section>

  <section id="project"
    class="p-5 animate-fade-down animate-once animate-duration-[1500ms] animate-delay-[850ms] animate-ease-in-out"
  >
    <h1 style="font-size: 50px; font-weight: bold; text-align: center;">
      Proyectos Personales
    </h1>
    <p
      style="margin-bottom: 10px; font-size: 20px; font-weight: 400; width: 50%; margin-left: auto; margin-right: auto; text-align: center;"
    >
      Una pequeña selección de mis mejores proyectos.
    </p>

    <div class="flex flex-col md:flex-row flex-wrap justify-center gap-8 p-10">
      <ProjectCard
        href="https://github.com/JesusAlfonzo/dcp-project"
        imageSrc="/profile-photo.JPEG"
        title="Sistema de Gestion y Control - Di Catia Pizza"
        description="Un sistema de control y gestion para un restaurant de pizzas de la localidad de catia."
      />
      <ProjectCard
        href="https://github.com/JesusAlfonzo/promedio-app"
        imageSrc="/profile-photo.JPEG"
        title="Aplicacion para Promedio de Notas"
        description="una aplicacion escrita en JavaScript para obtener un promedio de notas."
      />
      <ProjectCard
        href="https://github.com/JesusAlfonzo/Login-Catalogo"
        imageSrc="/profile-photo.JPEG"
        title="Login para un Catalogo"
        description="Una pagina web con una plantilla de un login para un catalogo web."
      />
    </div>
  </section>
  <Footer />
</Layout>
